/* flex + grid */

.main-tain,
.contact,
.phone,
.email {
    display: flex;
}

.contact-left {
    display: block;
}

.main-tain {
    flex-direction: column;
}

/* IMGS */
.selfie,
.socials,
.mini-social,{
    height: 100%;
}

.selfie {
    width: 300px;
}

.selfie2 {
    width: 420px;
}

.socials {
    width: 35px;
}

.mini-social {
    width: 25px;
}

/* evrything else */

.contact {
    background-color: rgb(237, 178, 97);
    justify-content: center;
    padding: 30px;
    color: rgb(53, 52, 52)
}

.phone,
.email {
    gap: 20px;
}