/* FLEX + GRID */

.main-tain,
.contact {
    display: flex;
}

.contact-left {
    display: block;
}

.main-tain {
    flex-direction: column;
}

/* IMGS */
.selfie,
.socials,
.mini-social,{
    height: 100%;
}

.selfie {
    width: 300px;
}

.socials {
    width: 35px;
}

.mini-social {
    width: 25px;
}