/* flex + grid */

.main-tain,
.contact,
.phone,
.email,
.mywork {
    display: flex;
}

.main-tain,
.mywork {
    flex-direction: column;
}

.gridForProj {
    display: grid;
}

.gridForProj {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.two {
    grid-column: 2;
}

.three {
    grid-column: 3;
}

.four {
    grid-row: 2;
    grid-column: 1;
}

.five {
    grid-row: 2;
    grid-column: 2;
}

.six {
    grid-row: 2;
    grid-column: 3;
}


.contact-left {
    display: block;
}

/* IMGS */
.selfie,
.socials,
.mini-social {
    height: 100%;
}

.selfie {
    width: 300px;
}

.selfie2 {
    width: 420px;
}

.socials {
    width: 35px;
}

.mini-social {
    width: 25px;
}

/* evrything else */



.contact {
    background-color: rgb(237, 178, 97);
    justify-content: center;
    padding: 30px;
    color: rgb(53, 52, 52)
}

.phone,
.email {
    gap: 20px;
}